[Unit]
Description=Backrest
After=network.target

[Service]
User=mysql
Group=backrest
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/mariadb-cmd
Restart=always
Environment="PATH=/usr/bin:/bin"
RuntimeDirectory=backrest
RuntimeDirectoryMode=2774

[Install]
WantedBy=multi-user.target